/* Hierin staat de customized CSS */

:root {
    --bruin: #4b2707;
    --oranje: #d17f38;
    --geel: #e8c04f;
    --lichtCreme: #f2f3ee;
    --rood: #ff0000;
    --blauw: #0026ff;
    --grijs: #808080;
    --paars: #b200ff;
   
}

