/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import 'customized/customized.css';

.box-JP-red {
    height: 25px; 
    border-radius: 5px; 
    border-color: var(--rood); 
    border-width: 2px; 
}

.box-JP {
    height: 25px;
    border-radius: 20px;
    border-color: var(--paars);
    border-width: 2px;
}

/* Definieer 4 verschillende box-breedtes: ---- */

.box-width-100-JP {
    width: 100px;
}

.box-width-200-JP{
    width: 200px; 
}

.box-width-300-JP {
    width: 300px;
}

.box-width-400-JP {
    width: 400px;
}

.box-width-500-JP {
    width: 500px;
}

.box-width-600-JP {
    width: 600px;
}

.box-width-700-JP {
    width: 700px;
}

.box-width-900-JP {
    width: 900px;
}

.box-width-1000-JP {
    width: 1000px;
}

.box-width-1100-JP {
    width: 1100px;
}

.box-width-1200-JP {
    width: 1200px;
}

.box-width-1300-JP {
    width: 1300px;
}

.box-width-1400-JP {
    width: 1400px;
}

.box-width-1500-JP {
    width: 1500px;
}

.box-width-1600-JP {
    width: 1600px;
}






/* ---------------------------- */

.brownJP {
    color: var(--bruin);
}

.purpleJP {
    color: var(--paars);
}

.greyJP {
    color: var(--grijs);
}

.orangeJP {
    color: var(--oranje);
}

.lightcremeJP {
    color: var(--lichtCreme)
}

.yellowJP {
    color: var(--geel)
}

.redJP {
    color: var(--rood);
}

.blueJP {
    color: var(--blue);
}

.clickButtonJP {
    font-size: 10px;
    width: 100px; 
    padding: 10px;
    border: solid 1px var(--red);
    color: var(--rood);
}


h3 .title-page-JP{
    margin: 0 0 100px; 
    color: var(--rood); 
}

.tableHeaderJP {   
    font-size: 12px; 
    width: 100px;  
    height: 40px; 
}

.label-for-JP {
    padding: 0 10px 0 0;
    margin: auto 0; 
    color: var(--purple);
    font-size: 15px;
}

.editor-for-JP{
    color: var(--blue);
    font-size: 13px; 
}

.text-area-JP {
    margin-top: 20px;
    font-family: 'Courier New';
    font-size: 15px;
    height: 300px;
    width: 1000px;
    border-radius: 10px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
